* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 0px;
    margin-left: 10px;
    /* margin: 0 auto; */
}

.top-wrapper {
    padding: 100px 0 400px 0;
    background-image: url(img.cms);
    background-size: cover;
    color: white;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
    font-size: 25px;
}

.btn-wrapper {
    text-align: left;
    margin: 20px 0;
}

.search-box {
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    background-color: #2f3640;
    height: 70px;
    width: 400px;
    border-radius: 40px;
    padding: 15px 20px;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(232, 253, 213);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 300px;
    font-weight: bold;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 1px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 200px;
    margin-top: 1px;
}

.header-left {
    float: left;
    height: 25px;
}

.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.container .heading {
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 5px;
}

.vision {
    font-size: 20px;
    font-style: oblique;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: center;
}

.lesson-icon p {
    top: 55%;
    font-size: large;
    width: 100%;
    color: black;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

.heading h3 {
    font-weight: normal;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.footer-list a {
    color: white;
}

.main {
    background-image: url(bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.heading1 {
    font-size: 40px;
    letter-spacing: 10px;
    border-bottom: 5px solid black;
    border-width: 10%;
}

.form p {
    align-self: center;
    font-size: 15px;
}

.submit {
    height: 50px;
    width: 175px;
    cursor: pointer;
}

.team {
    border: 2px solid black;
}

footer img {
    padding-top: 25px;
    padding-left: 20px;
    width: 200px;
    height: 100px;
    float: left;
}

footer p {
    color: #b3aeb5;
    font-size: 12px;
}

footer {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #0c4fe0;
}

.footer-list {
    /* float: initial; */
    margin-left: 50px;
    padding-left: 80%;
    line-height: 40px;
    font-size: 25px;
    font-style: oblique;
    color: #eee
}